<h1>Welcome to Bookshop</h1>
<p>Borrow books from popular librariesj</p>
<ul>
	<li><%=  link_to "Find books by library (Gmap availlable)", libraries_path %></li>
	<li><%=  link_to "Find books by genre", genres_path %></li>
	<li><%=  link_to "Browse all books", books_path %></li>
</ul>
